
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
.header-part{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 15px 240px 50px 240px;
}
nav{
    margin-bottom: 50px;
}
ul{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.right-nav{
    margin-left: auto;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
section img{
    flex: 0 1 0;
    width: 500px;
    height: 250px;

}
.content{
    display: flex;
    flex-direction: column;
    flex:1 ; /* did this to the content because the content basis needs to be 0 so that the width remains the content size */
    margin-right: 90px; /* to create a space between the content and the image*/
}

p{
    margin: 0;
}
button.signup{
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.information{
    padding: 15px 240px 50px 240px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
}
.card img{
    border-radius: 10px;
    width: 200px;
    height: 150px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    min-height: 300px;
    /* the text is not shrinking when i minimize the tab */
    padding: 15px 240px 15px 240px;
}

.quote p{
    font-size: 36px;
    font-weight:lighter ;
    font-style: italic;
}

.alert-outer-box{
    padding: 50px 240px 50px 240px;
}

.alert-inner-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:#3882F6;
    color: white;
    padding: 35px 70px 35px 70px;
    border-radius: 10px;
}
.alert-inner-box button{
    border: 2px solid white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

